* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

header, footer {
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
}

main {
    background-color: antiquewhite;
    height: 700px;
    font-size: 120%;
    overflow: auto;
}

#kontrolki {
    width: 150px;
    padding: 10px;
    display: inline;
}

.buty {
    width: 70%;
    margin: 15px;
    padding: 7px;
    border: 1px sienna solid;
    border-radius: 30px;
}

.buty:hover {
    background-color: linen;
}

img {
    float: left;
    padding-right: 30px;
    max-width: 150px;
}

h4 {
    background-color: sienna;
    color: white;
    text-align: right;
}

.zamowienie {
    width: 70%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid sienna;
    border-radius: 20px;
    background-color: white;
}
