* {
    font-family: 'Roboto', serif;
    margin: 0;
}

header {
    background-color: crimson;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#st {
    background-color: mistyrose;
    height: 300px;
    padding: 10px;
    margin: 10px 50px;
    border: 1px solid crimson;
}

#st img {
    float: left;
    height: 100%;
}

.oferty-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.generated {
    background-color: snow;
    height: 450px;
    width: 21%;
    margin: 1%;
    text-align: center;
    border: 1px solid crimson;
}

footer {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
}

h4 {
    font-size: 180%;
    text-align: center;
    color: crimson;
}

a {
    color: white;
}
