*{
    margin: 0;
}

body{
    background-color: #DDEEDD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

li{
    list-style:square;
}

ul{
    text-align: left;
}

header, footer{
    color: white;
    font-size: 120%;
    padding: 10px;
    text-align: center;
}

header{
    background-color: #409FFF;
}

footer{
    background-color: #A0A0A0;
}

nav{
    display: flex;
    background-color: #FFFFFF;
    gap: 30px;
    padding: 10px;
    justify-content: center;
}

main{
    display: flex;
}

#lewy{
    background-color: #E4C0A8;
    width: 30%;
    height: 650px;
}

#prawy{
    width: 70%;
    height: 650px;
    overflow-y: auto;
}

a{
    color: #009900;
}

table, td, th{
    border: 1px solid black;

}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 90%;
}