* {
  font-family: Tahoma;
  padding: 0;
  margin: 0;
}

#banner,
#footer {
  background-color: SaddleBrown;
  color: white;
  padding: 3px;
  text-align: center;
}

#left-panel,
#right-panel {
  background-color: Tan;
  height: 400px;
  width: 40%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

#center-panel {
  background-color: Wheat;
  height: 400px;
  width: 20%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

#center-panel img {
  margin-right: 20px;
  float: left;
}

h4 {
  text-align: center;
}

input {
  margin: 5px 0;
}

ol li:hover {
  background-color: Sienna;
  color: white;
}
